
/* Setup all shared css */
.full-width-container {
	width: 100%;
}


/* Container specific */
#header {
	background-color: orange;
	min-height: 30px;
}

#content {
	background-color: gray;
}

#footer {

}
